div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid black;
  width: 300px;
}
h4 {
  color: red;
  font-weight: bolder;
}
ol{
    color: blue;
    font-weight: bold;
    margin-top: 10px;
}
