div {
  display: flex;
  align-items: center;

  flex-direction: column;
  border: 3px solid black;
  width: 500px;
  height: 200px;
}
h4 {
  color: red;
  font-weight: bolder;
}
ol{
    color: blue;
    font-weight: bold;
    margin-top: 10px;
}
