.head{
    width: 1000px;
    background-color:aqua;
    margin:0 auto;
    text-align: center;
}
.mid{
    width: 1000px;
    margin:0 auto;
}
.footer{
    width: 1000px;
    height: 100px;
    margin:0 auto;
    text-align: center;
    background-color: gray;
}