.container{
    width: 570px;
    margin:0 auto;
    box-shadow: 0px 2px 4px 0 black;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
h6{
    font-size: 20px;
    margin-top: -5px;
    color: gray;
}
ul{
    margin-top: -20px;
}
li{
    color:red;
}
p{
    color:black;
}